@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Каталог товаров";
}
@model ViewModels.BuyModel;

<link rel="stylesheet" href="~/css/catalog.css">
<link rel="stylesheet" href="~/css/modal.css">

<div id="cart-modal" >
	<div class="modal-image">
		<img src="~/imgs/logo.png" height="100%" width="100%"/>
	</div>
	<div class="modal-text">
		<span class="modal-title">ОТЛИЧНО</span>
		<span id="modal-text">
			Товар <span id="modal-title"></span>
			успешно добавлен в корзину!
		</span>
	</div>
</div>

<script type="text/javascript">
	function show_modal(title, btn_id, fav=null) {
		var modal = document.querySelector("#cart-modal");
		modal.classList = "animate-modal";
		var new_action = "";

		if (fav == null) {
			//document.querySelector("#modal-title").innerHTML = title;
			var btn = document.querySelector("#" + btn_id);
			btn.innerHTML = "В КОРЗИНЕ";
			btn.classList.add("in-cart");
		} else if (fav == true) {
			var btn = document.querySelector("#" + btn_id);

			if (btn.classList.contains("in-fav")) {
				btn.classList.remove("in-fav");
				document.querySelector("#modal-text").innerHTML = "Товар удален из избранного!";
			} else {
				btn.classList.add("in-fav");
				document.querySelector("#modal-text").innerHTML = "Товар добавлен в избранное!";
			}

			new_action = "/Catalog/RemoveFavorites";

		} else if (fav == false) {
			var btn = document.querySelector("#" + btn_id);

			if (btn.classList.contains("in-fav")) {
				btn.classList.remove("in-fav");
				document.querySelector("#modal-text").innerHTML = "Товар удален из избранного!";
			} else {
				btn.classList.add("in-fav");
				document.querySelector("#modal-text").innerHTML = "Товар добавлен в избранное!";
			}

			new_action = "/Catalog/Favorites";
		}


		setTimeout(
			() => {
				modal.classList = "";
				if (fav != null) {
					var form = document.querySelector("#fav-form-" + btn_id.split('-')[1]);
					form.setAttribute("action", new_action);
				}
			},
			3 * 1000
		);
	}

	function change_catalog() {
		var new_class = document.querySelectorAll("select")[0].value;
		var catalogs = document.querySelectorAll(".items-container");

		catalogs.forEach((el) => {
			if (el.classList[1] == new_class) {
				el.style.display = "flex";
			} else {
				el.style.display = "none";
			}
			console.log(el.classList);
		});
	}

	function change_cars_catalog() {
		var new_class = document.querySelectorAll("select")[1].value;
		location.href = "/Catalog/CarFilter/?car_id=" + new_class;
	}
</script>

<div id="content">

	<div class="filter-buttons-container">
		<div class="filters-container">
			<select name="Filter" onchange="change_catalog()">
				<option class="option-value" value="DOWN2UP_PRICE">
					ПО ВОЗРАСТАНИЮ ЦЕНЫ
				</option>
				<option class="option-value" value="UP2DOWN_PRICE">
					ПО УБЫВАНИЮ ЦЕНЫ
				</option>
				<option class="option-value" value="UP2DOWN_TITLE">
					ПО НАЗВАНИЮ (А - Я)
				</option>
				<option class="option-value" value="DOWN2UP_TITLE">
					ПО НАЗВАНИЮ (Я - А)
				</option>
				<option class="option-value" value="ALL" selected>
					ПО УМОЛЧАНИЮ
				</option>

			</select>
		</div>
		<div class="filters-container">
			<select name="CarsFilter" onchange="change_cars_catalog()">
				<option value="-1" class="option-value" selected>
					ВСЕ МАРКИ
				</option>

				@foreach (Models.Car car in ViewBag.cars)
				{
					if (ViewBag.car_id == car.Id)
					{
						<option class="option-value" value="@car.Id" selected>
							@car.Mark @car.Model
						</option>
					} else
					{
						<option class="option-value" value="@car.Id">
							@car.Mark @car.Model
						</option>
					}
				}
			</select>
		</div>
		<div class="categories-container">
			<div class="category">
				<form method="post" asp-action="CategoryFilter">
					<input name="CategoryId" type="number" hidden value="-1" />
					<button class="all-items" type="submit">ВСЕ ТОВАРЫ</button>
				</form>
			</div>
			@foreach (Models.Category cat in ViewBag.categories)
			{
				<div class="category">
					<form method="post" asp-action="CategoryFilter">
						<input name="CategoryId" type="number" hidden value="@cat.Id" />
						<button type="submit">@cat.Title.ToUpper()</button>
					</form>
				</div>
			}
		</div>
	</div>

	@if (ViewBag.items.Count == 0)
	{
		<div class="empty-cart">
			<span>Товары не найдены</span>
		</div>
	}

	<div class="items-container ALL">
		@foreach (Models.Item item in ViewBag.items)
		{
		var item_title = item.Title;
if (item.Title.Length > 12)
{ item_title = item.Title.Substring(0, 12) + "..."; }
			<a href="/Catalog/ItemDetail/@item.Id" class="item-card-clicker">
			<div class="item-card" id="item-card-item-@item.Id">
					@if (item.Count == 0)
					{
						<style>
							#item-card-item-@item.Id {
								opacity: .8;
							}
						</style>
					}
				<div class="fav-container">
				@{
					if (ViewBag.favs.Contains(item.Id))
					{
														<form id="fav-form-@item.Id" method="post" asp-action="RemoveFavorites" asp-controller="Catalog">
															<input hidden type="number" name="ItemId" value="@item.Id"/>
															<input hidden type="text" name="NeedToRedirect" value="false"/>
															<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', false)" type="submit" class="fav in-fav">&nbsp;</button>
														</form>
					} else
					{
														<form id="fav-form-@item.Id" method="post" asp-action="Favorites" asp-controller="Catalog">
															<input hidden type="number" name="ItemId" value="@item.Id"/>
															<input hidden type="text" name="NeedToRedirect" value="false"/>
															<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', true)" type="submit" class="fav">&nbsp;</button>
														</form>
					}
				}
				</div>
				<div class="item-image">
						<img src="~/imgs/@item.Image" width="100%" height="100%" />
				</div>
				<div class="item-text-container">
					<div class="item-title">
						<span>@item_title</span>
					</div>
					<div class="item-type">
					@{
						var item_type = item.Type;
						if (item.Type.Length > 51) { item_type = item.Type.Substring(0, 50); }
						else { item_type = item.Type; }
					}
						<span>@item_type</span>
					</div>
				</div>
				<div class="item-price">
					<span>@item.Price РУБ.</span>
				</div>
				<div class="item-btns">
					<form asp-action="AddToCart" asp-controller="Catalog" method="post">
						<input asp-for="ItemId" value="@item.Id" style="display: none;" />
						<input asp-for="Counter" value="1" style="display: none;" />
							@{
								if (item.Count > 0)
								{		
									if (ViewBag.carts.Contains(item.Id))
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart in-cart" type="submit">В КОРЗИНЕ</button>
									} else
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart" type="submit">В КОРЗИНУ</button>
									}
								} else
								{
													<button class="item-btn not-available" disabled type="submit">НЕТ В НАЛИЧИИ</button>
								}
							}
					</form>
				</div>
			</div>
			</a>
		}
	</div>

	<div class="items-container UP2DOWN_TITLE" style="display: none;">
		@foreach (Models.Item item in ViewBag.UP2DOWN_TITLE)
		{
		var item_title = item.Title;
if (item.Title.Length > 12)
{ item_title = item.Title.Substring(0, 12) + "..."; }
			<a href="/Catalog/ItemDetail/@item.Id" class="item-card-clicker">
				<div class="item-card" id="item-card-item-@item.Id">
					@if (item.Count == 0)
					{
						<style>
							#item-card-item-@item.Id {
								opacity: .8;
							}
						</style>
					}
					<div class="fav-container">
						@{
							if (ViewBag.favs.Contains(item.Id))
							{
												<form id="fav-form-@item.Id" method="post" asp-action="RemoveFavorites" asp-controller="Catalog">
													<input hidden type="number" name="ItemId" value="@item.Id" />
													<input hidden type="text" name="NeedToRedirect" value="false" />
													<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', false)" type="submit" class="fav in-fav">&nbsp;</button>
												</form>
							}
							else
							{
												<form id="fav-form-@item.Id" method="post" asp-action="Favorites" asp-controller="Catalog">
													<input hidden type="number" name="ItemId" value="@item.Id" />
													<input hidden type="text" name="NeedToRedirect" value="false" />
													<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', true)" type="submit" class="fav">&nbsp;</button>
												</form>
							}
						}
					</div>
					<div class="item-image">
						<img src="~/imgs/@item.Image" width="100%" height="100%" />
					</div>
					<div class="item-text-container">
						<div class="item-title">
							<span>@item_title</span>
						</div>
						<div class="item-type">
						@{
							var item_type = item.Type;
							if (item.Type.Length > 51) { item_type = item.Type.Substring(0, 50); }
							else { item_type = item.Type; }
						}
							<span>@item_type</span>
						</div>
					</div>
					<div class="item-price">
						<span>@item.Price РУБ.</span>
					</div>
					<div class="item-btns">
						<form asp-action="AddToCart" asp-controller="Catalog" method="post">
							<input asp-for="ItemId" value="@item.Id" style="display: none;" />
							<input asp-for="Counter" value="1" style="display: none;" />
							@{
								if (item.Count != 0)
								{
									if (ViewBag.carts.Contains(item.Id))
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart in-cart" type="submit">В КОРЗИНЕ</button>
									}
									else
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart" type="submit">В КОРЗИНУ</button>
									}
								}
								else
								{
													<button class="item-btn not-available" disabled type="submit">НЕТ В НАЛИЧИИ</button>
								}
							}
						</form>
					</div>
				</div>
			</a>
		}
	</div>
	<div class="items-container UP2DOWN_PRICE" style="display: none;">
		@foreach (Models.Item item in ViewBag.UP2DOWN_PRICE)
		{
		var item_title = item.Title;
if (item.Title.Length > 12)
{ item_title = item.Title.Substring(0, 12) + "..."; }
			<a href="/Catalog/ItemDetail/@item.Id" class="item-card-clicker">
				<div class="item-card" id="item-card-item-@item.Id">
					@if (item.Count == 0)
					{
						<style>
							#item-card-item-@item.Id {
								opacity: .8;
							}
						</style>
					}
					<div class="fav-container">
						@{
							if (ViewBag.favs.Contains(item.Id))
							{
												<form id="fav-form-@item.Id" method="post" asp-action="RemoveFavorites" asp-controller="Catalog">
													<input hidden type="number" name="ItemId" value="@item.Id" />
													<input hidden type="text" name="NeedToRedirect" value="false" />
													<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', false)" type="submit" class="fav in-fav">&nbsp;</button>
												</form>
							}
							else
							{
												<form id="fav-form-@item.Id" method="post" asp-action="Favorites" asp-controller="Catalog">
													<input hidden type="number" name="ItemId" value="@item.Id" />
													<input hidden type="text" name="NeedToRedirect" value="false" />
													<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', true)" type="submit" class="fav">&nbsp;</button>
												</form>
							}
						}
					</div>
					<div class="item-image">
						<img src="~/imgs/@item.Image" width="100%" height="100%" />
					</div>
					<div class="item-text-container">
						<div class="item-title">
							<span>@item_title</span>
						</div>
						<div class="item-type">
						@{
							var item_type = item.Type;
							if (item.Type.Length > 51) { item_type = item.Type.Substring(0, 50); }
							else { item_type = item.Type; }
						}
							<span>@item_type</span>
						</div>
					</div>
					<div class="item-price">
						<span>@item.Price РУБ.</span>
					</div>
					<div class="item-btns">
						<form asp-action="AddToCart" asp-controller="Catalog" method="post">
							<input asp-for="ItemId" value="@item.Id" style="display: none;" />
							<input asp-for="Counter" value="1" style="display: none;" />
							@{
								if (item.Count != 0)
								{
									if (ViewBag.carts.Contains(item.Id))
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart in-cart" type="submit">В КОРЗИНЕ</button>
									}
									else
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart" type="submit">В КОРЗИНУ</button>
									}
								}
								else
								{
													<button class="item-btn not-available" disabled type="submit">НЕТ В НАЛИЧИИ</button>
								}
							}
						</form>
					</div>
				</div>
			</a>
		}
	</div>
	<div class="items-container DOWN2UP_TITLE" style="display: none;">
		@foreach (Models.Item item in ViewBag.DOWN2UP_TITLE)
		{
		var item_title = item.Title;
if (item.Title.Length > 12)
{ item_title = item.Title.Substring(0, 12) + "..."; }
			<a href="/Catalog/ItemDetail/@item.Id" class="item-card-clicker">
				<div class="item-card" id="item-card-item-@item.Id">
					@if (item.Count == 0)
					{
						<style>
							#item-card-item-@item.Id {
								opacity: .8;
							}
						</style>
					}
					<div class="fav-container">
						@{
							if (ViewBag.favs.Contains(item.Id))
							{
												<form id="fav-form-@item.Id" method="post" asp-action="RemoveFavorites" asp-controller="Catalog">
													<input hidden type="number" name="ItemId" value="@item.Id" />
													<input hidden type="text" name="NeedToRedirect" value="false" />
													<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', false)" type="submit" class="fav in-fav">&nbsp;</button>
												</form>
							}
							else
							{
												<form id="fav-form-@item.Id" method="post" asp-action="Favorites" asp-controller="Catalog">
													<input hidden type="number" name="ItemId" value="@item.Id" />
													<input hidden type="text" name="NeedToRedirect" value="false" />
													<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', true)" type="submit" class="fav">&nbsp;</button>
												</form>
							}
						}
					</div>
					<div class="item-image">
						<img src="~/imgs/@item.Image" width="100%" height="100%" />
					</div>
					<div class="item-text-container">
						<div class="item-title">
							<span>@item_title</span>
						</div>
						<div class="item-type">
						@{
							var item_type = item.Type;
							if (item.Type.Length > 51) { item_type = item.Type.Substring(0, 50); }
							else { item_type = item.Type; }
						}
							<span>@item_type</span>
						</div>
					</div>
					<div class="item-price">
						<span>@item.Price РУБ.</span>
					</div>
					<div class="item-btns">
						<form asp-action="AddToCart" asp-controller="Catalog" method="post">
							<input asp-for="ItemId" value="@item.Id" style="display: none;" />
							<input asp-for="Counter" value="1" style="display: none;" />
							@{
								if (item.Count != 0)
								{
									if (ViewBag.carts.Contains(item.Id))
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart in-cart" type="submit">В КОРЗИНЕ</button>
									}
									else
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart" type="submit">В КОРЗИНУ</button>
									}
								}
								else
								{
													<button class="item-btn not-available" disabled type="submit">НЕТ В НАЛИЧИИ</button>
								}
							}
						</form>
					</div>
				</div>
			</a>
		}
	</div>
	<div class="items-container DOWN2UP_PRICE" style="display: none;">
		@foreach (Models.Item item in ViewBag.DOWN2UP_PRICE)
		{
		var item_title = item.Title;
if (item.Title.Length > 12)
{ item_title = item.Title.Substring(0, 12) + "..."; }
			<a href="/Catalog/ItemDetail/@item.Id" class="item-card-clicker">
				<div class="item-card" id="item-card-item-@item.Id">
					@if (item.Count == 0)
					{
						<style>
							#item-card-item-@item.Id {
								opacity: .8;
							}
						</style>
					}
					<div class="fav-container">
						@{
							if (ViewBag.favs.Contains(item.Id))
							{
												<form id="fav-form-@item.Id" method="post" asp-action="RemoveFavorites" asp-controller="Catalog">
													<input hidden type="number" name="ItemId" value="@item.Id" />
													<input hidden type="text" name="NeedToRedirect" value="false" />
													<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', false)" type="submit" class="fav in-fav">&nbsp;</button>
												</form>
							}
							else
							{
												<form id="fav-form-@item.Id" method="post" asp-action="Favorites" asp-controller="Catalog">
													<input hidden type="number" name="ItemId" value="@item.Id" />
													<input hidden type="text" name="NeedToRedirect" value="false" />
													<button id="fav-@item.Id" onclick="show_modal('@item_title', 'fav-@item.Id', true)" type="submit" class="fav">&nbsp;</button>
												</form>
							}
						}
					</div>
					<div class="item-image">
						<img src="~/imgs/@item.Image" width="100%" height="100%" />
					</div>
					<div class="item-text-container">
						<div class="item-title">
							<span>@item_title</span>
						</div>
						<div class="item-type">
						@{
							var item_type = item.Type;
							if (item.Type.Length > 51) { item_type = item.Type.Substring(0, 50); }
							else { item_type = item.Type; }
						}
							<span>@item_type</span>
						</div>
					</div>
					<div class="item-price">
						<span>@item.Price РУБ.</span>
					</div>
					<div class="item-btns">
						<form asp-action="AddToCart" asp-controller="Catalog" method="post">
							<input asp-for="ItemId" value="@item.Id" style="display: none;" />
							<input asp-for="Counter" value="1" style="display: none;" />
							@{
								if (item.Count != 0)
								{
									if (ViewBag.carts.Contains(item.Id))
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart in-cart" type="submit">В КОРЗИНЕ</button>
									}
									else
									{
														<button id="to-cart-@item.Id" onclick="show_modal('@item_title', 'to-cart-@item.Id')" class="item-btn to-cart" type="submit">В КОРЗИНУ</button>
									}
								}
								else
								{
													<button class="item-btn not-available" disabled type="submit">НЕТ В НАЛИЧИИ</button>
								}
							}
						</form>
					</div>
				</div>
			</a>
		}
	</div>
</div>

